body {
  margin: 0 !important;
}
.modal {
  background-color: rgba(50, 50, 50, 0.7);
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.3s;
  z-index: 10000;
}
.modal-closer {
  position: absolute;
  top: 0;
  left: 95%;
  font-size: 50px;
  color: white;
  cursor: pointer;
  transition: 0.3s;
}
.modal img {
  box-shadow: rgba(30, 30, 30, 0.8) 0px 0px 4px 4px;
  border-radius: 8px;
}

.modal-closer:hover {
  color: lightcoral;
}

button {
  cursor: pointer;
}
